# Cross Validation Excercise for two datasets

Performing the cross validation for the each models and find out the best accuracy score

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Grad = pd.read_csv("C:/Users/HP/OneDrive/Desktop/DataAnalysisFiles/Datasets/Graduate Admission.csv")
Grad.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admit
0,1,337,118,4,4.5,4.5,9.65,0.92,1
1,2,324,107,4,4.0,4.5,8.87,0.76,1
2,3,316,104,3,3.0,3.5,8.00,0.72,1
3,4,322,110,3,3.5,2.5,8.67,0.80,1
4,5,314,103,2,2.0,3.0,8.21,0.65,0

In [4]:
Grad.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Admit                0
dtype: int64

In [108]:
#Initialize the data
X = Grad.iloc[:,:-1]
y = Grad.iloc[:,-1]
X

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,0.92
1,2,324,107,4,4.0,4.5,8.87,0.76
2,3,316,104,3,3.0,3.5,8.00,0.72
3,4,322,110,3,3.5,2.5,8.67,0.80
4,5,314,103,2,2.0,3.0,8.21,0.65
...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,0.82
396,397,325,107,3,3.0,3.5,9.11,0.84
397,398,330,116,4,5.0,4.5,9.45,0.91
398,399,312,103,3,3.5,4.0,8.78,0.67
399,400,333,117,4,5.0,4.0,9.66,0.95

# Normalization

In [109]:
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler()
X_norm = norm.fit_transform(X)

In [110]:
X = pd.DataFrame(X_norm, columns=X.columns)

In [111]:
X

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,0.000000,0.94,0.928571,0.75,0.875,0.875,0.913462,0.920635
1,0.002506,0.68,0.535714,0.75,0.750,0.875,0.663462,0.666667
2,0.005013,0.52,0.428571,0.50,0.500,0.625,0.384615,0.603175
3,0.007519,0.64,0.642857,0.50,0.625,0.375,0.599359,0.730159
4,0.010025,0.48,0.392857,0.25,0.250,0.500,0.451923,0.492063
...,...,...,...,...,...,...,...,...
395,0.989975,0.68,0.642857,0.50,0.625,0.625,0.717949,0.761905
396,0.992481,0.70,0.535714,0.50,0.500,0.625,0.740385,0.793651
397,0.994987,0.80,0.857143,0.75,1.000,0.875,0.849359,0.904762
398,0.997494,0.44,0.392857,0.50,0.625,0.750,0.634615,0.523810
399,1.000000,0.86,0.892857,0.75,1.000,0.750,0.916667,0.968254

# Train_test_split

In [112]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Cross Validation

In [113]:
from sklearn.model_selection import cross_val_score

# Fitting into the models

# Logistic Regression

In [114]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train,y_train)
pred = log.predict(X_test)

In [115]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.7833333333333333

In [116]:
log.coef_

array([[-0.26817041,  2.42344852,  1.05740876,  0.60678998,  0.32422519,
         0.55367892,  0.5111219 ,  1.57888502]])

In [118]:
a=pd.DataFrame(log.coef_.T, columns=["a"])
b = pd.DataFrame(X.columns, columns=["b"])
c = pd.concat([a,b], axis=1)
c = c.sort_values("a",ascending=False)
c["b"].head(6).values

array(['GRE Score', 'Research', 'TOEFL Score', 'University Rating',
       'LOR ', 'CGPA'], dtype=object)

In [119]:
X= X[['GRE Score', 'Research', 'TOEFL Score', 'University Rating',
       'LOR ','CGPA']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [120]:
log.fit(X_train,y_train)
pred = log.predict(X_test)
accuracy_score(pred,y_test)

0.7583333333333333

In [121]:
cross_val_score(log,X,y, cv=10, scoring="accuracy").mean()

0.7625

# KNN

In [122]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=19)
cross_val_score(knn,X,y, cv=10, scoring="accuracy").mean()

0.7699999999999998

# Random Forest Classifier

In [123]:
from sklearn.ensemble import RandomForestClassifier
Rf = RandomForestClassifier()
cross_val_score(Rf,X,y, cv=10, scoring="accuracy").mean()

0.7725000000000001

# Svm

In [124]:
from sklearn.svm import SVC
svc = SVC()
cross_val_score(svc,X,y, cv=10, scoring="accuracy").mean()

0.78

# Decision Tree

In [125]:
from sklearn.tree import DecisionTreeClassifier
dtree= DecisionTreeClassifier()
cross_val_score(dtree,X,y, cv=10, scoring="accuracy").mean()

0.6825

# Churn -Modellimg dataset

In [52]:
Churn = pd.read_csv("C:/Users/HP/OneDrive/Desktop/DataAnalysisFiles/Datasets/Churn_Modelling.csv")
Churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [53]:
Churn.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [55]:
#Initlialize
X = Churn.iloc[:,:-1]
y = Churn.iloc[:,-1]
X.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

# Label Encoding

In [60]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X["Surname"] = le.fit_transform(X["Surname"])
X["Geography"] = le.fit_transform(X["Geography"])
X["Gender"] = le.fit_transform(X["Gender"])
X.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10

In [61]:
# Normalization

In [64]:
X_norm = norm.fit_transform(X)

In [66]:
X = pd.DataFrame(X_norm, columns=X.columns)
X

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0.0000,0.275616,0.380416,0.538,0.0,0.0,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735
1,0.0001,0.326454,0.401569,0.516,1.0,0.0,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709
2,0.0002,0.214421,0.696008,0.304,0.0,0.0,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654
3,0.0003,0.542636,0.098601,0.698,0.0,0.0,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120
4,0.0004,0.688778,0.621631,1.000,1.0,0.0,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.9996,0.162119,0.682020,0.842,0.0,1.0,0.283784,0.5,0.000000,0.333333,1.0,0.0,0.481341
9996,0.9997,0.016765,0.455817,0.332,0.0,1.0,0.229730,1.0,0.228657,0.000000,1.0,1.0,0.508490
9997,0.9998,0.075327,0.535653,0.718,0.0,0.0,0.243243,0.7,0.000000,0.000000,0.0,1.0,0.210390
9998,0.9999,0.466637,0.800068,0.844,0.5,1.0,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429
9999,1.0000,0.250483,0.938588,0.884,0.0,0.0,0.135135,0.4,0.518708,0.000000,1.0,0.0,0.190914

# Train_test_split

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Cross Validation

In [68]:
from sklearn.model_selection import cross_val_score

# LogisticRegression

In [69]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
cross_val_score(log,X,y,cv=10, scoring="accuracy").mean()

0.8085000000000001

# KNN

In [70]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=19)
cross_val_score(knn,X,y, cv=10, scoring="accuracy").mean()

0.8030000000000002

# RandomForest

In [71]:
from sklearn.ensemble import RandomForestClassifier
Rf = RandomForestClassifier()
cross_val_score(Rf,X,y, cv=10, scoring="accuracy").mean()

0.8585

# SVM

In [72]:
from sklearn.svm import SVC
svc = SVC()
cross_val_score(svc,X,y, cv=10, scoring="accuracy").mean()

0.8453000000000002

# DecisionTree

In [73]:
from sklearn.tree import DecisionTreeClassifier
dtree= DecisionTreeClassifier()
cross_val_score(dtree,X,y, cv=10, scoring="accuracy").mean()

0.7688